{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Search for Books</h1>
      <hr>
      <form action="/searchforbookbyauthor" method="POST">
        <div class="form-group">
          <label>Search by Author</label>
          <input class="form-control" type="text" name="authorname">
          <button type="submit" class="btn btn-primary">Search for books by author</button>
        </div>
      </form>

      <form action="/searchforbookbytitle" method="POST">
        <div class="form-group">
          <label>Search by Title</label>
          <input class="form-control" type="text" name="booktitle">
          <button type="submit" class="btn btn-primary">Search for books by title</button>
        </div>
      </form>

      <form action="/searchforbookbyisbn" method="POST">
        <div class="form-group">
          <label>Search by ISBN</label>
          <input class="form-control" type="text" name="isbn">
          <button type="submit" class="btn btn-primary">Search for books by isbn</button>
        </div>
      </form>

      <form action="/searchforbookbyyear " method="POST">
        <div class="form-group">
          <label>Seach by Year</label>
          <input class="form-control" type="text" name="year">
          <button type="submit" class="btn btn-primary">Search for books by Year</button>
        </div>
      </form>
      
    </div>
  </div>
</div>

{% endblock %}
